<div class="container">
  <%= image_tag image_url('logo5.png'), class: "pdf-image center" %>
  <h1 class="pdf-h1">Hashtag report</h1>
  <h3 class="pdf-h3">Printed on <%= Time.now.strftime("%e %B %Y (%H:%M)") %> by <%= current_user.name %></h3>

    <ul class="pdf-last-searched-list">
      <% @my_hashtags.order(updated_at: :desc).each do |hashtag| %>
        <li class="pdf-last-searched-card">
          <p class="pdf-last-searched-initial"><%= hashtag.name[0].capitalize %></p>
          <p class="pdf-last-searched-hashtag-name"><%= "##{hashtag.name.capitalize}" %></p>
          <p class="pdf-last-searched-date">last searched on<%= hashtag.updated_at.strftime("%e %B %Y at %H:%M")%></p>
          <p class="pdf-last-searched-score"><%= hashtag.score %></p>
        </li>
      <% end %>
    </ul>
</div>
