<p class="danko">Print pdf for all hashtags</p>

<% if !@my_hashtags.empty? %>

  <h4 class= "mt-4">Report is ready, <%= current_user.name %>!</h4>
  <p style="color: gray">Last searches</p>

  <%=link_to "Print last searches", printpdf_path(format: "pdf")%>

  <ul class="last-searched-list">
    <% @my_hashtags.order(updated_at: :desc).each do |hashtag| %>
      <li class="last-searched-card">
        <p class="last-searched-initial"><%= hashtag.name[0].capitalize %></p>
        <%= link_to "##{hashtag.name.capitalize}", class: "last-searched-hashtag-name" %>
        <p class="last-searched-score">last searched on<%= hashtag.updated_at.strftime("%e %B %Y at %H:%M")%></p>
        <div class="chart-container" data-score="<%= hashtag.score %>"></div>
      </li>
    <% end %>
  </ul>
<% end %>
