<div id="chartdiv" data-score="<%= @score %>">
</div>
<p>Your crowd was talking about your hashtag with 'happy words' such as <strong><%= @happy_words[0]%></strong>, <strong><%= @happy_words[1]%></strong> and <strong><%= @happy_words[2]%></strong>. But keep an eye on 'sad words' they used, like <strong><%= @sad_words[0] %></strong> and <strong><%= @sad_words[1] %></strong>!</p>
