<div class="search-hashtag-wrapper">
  <h1 class="search-hashtag-name mt-4">#<%= params[:name].capitalize %></h1>
  <% if @hashtag.present?%>
    <% if Hashtag.find_by(name: @hashtag) %>
      <% if Hashtag.find_by(name: @hashtag).user == current_user%>
        <%= link_to "update score", hashtags_path(name: @hashtag, score: @score, happywords:@happy_words, sadwords: @sad_words), class: "badge-green mt-3", method: :post  %>
        <% else %>
          <%= link_to "bookmark", hashtags_path(name: @hashtag, score: @score, happywords:@happy_words, sadwords: @sad_words), class: "badge green mt-3", method: :post  %>
      <% end %>
    <% else %>
      <%= link_to "bookmark", hashtags_path(name: @hashtag, score: @score,  happywords:@happy_words, sadwords: @sad_words), class: "badge-green mt-3", method: :post  %>
    <% end %>
  <% end %>
</div>
</div>
<div class="row">
  <div class="col-7 mt-3">
    <div id="chartdiv" data-score="<%= @score %>"></div>
  </div>
  <div class="col-5 mt-3">
  <h4 class="search-hashtag-list-header">Happiest words &#128515</h4>
    <div class="search-hashtag-list green-shadow">
    <% @happy_words.each do |word| %>
      <p class="search-hashtag-happysad"><%= word %></p>
      <% end %>
    </div>
  <h4 class="search-hashtag-list-header mt-3">Saddest words &#128148</h4>
    <div class="search-hashtag-list green-shadow">
    <% @sad_words.each do |word| %>
      <p class="search-hashtag-happysad"><%= word %></p>
      <% end %>
    </div>
  </div>
</div>
