<div class="container dashboard mt-4">
  <div class="row">
    <div class="col-3 d-flex column justify-content-between">
      <div>
        <%= image_tag "logo5.png", class: "logo" %>
        <h6 class="mt-4 username">Welcome back, <span class="yellow-word"><%= @user.name %></span></h4>

<!--Dashboard LEFT Side Username and my hashtags ---------------------------->
        <%= render "dashboards/my_hashtags" %>
      </div>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "button-secondary link-dashboard-secondary" %>
    </div>
<!--Dashboard RIGHT Side---------------------------->
    <div class="col-9">
          <%= render "dashboards/search_hashtag" %>
<!--Happiness score and Chart---------------------------->
            <% if @score.present? %>
              <p>Happiness score is:</p>
              <%= render "dashboards/happiness_chart" %>
            <% end %>

<!---Save bookmark and Update score ---------->
          <% if @hashtag.present? %>
            <% if Hashtag.find_by(name: @hashtag) %>
              <%= link_to "Update #{params[:name]}", hashtags_path(name: @hashtag, score: @score), method: :post  %>
            <% else %>
              <%= link_to "Bookmark #{params[:name]}", hashtags_path(name: @hashtag, score: @score), method: :post  %>
            <% end %>
          <% end %>
    </div>
  </div>
</div>

<% if @tweets.present? %>
  <p><%= @tweets %></p>
<% end %>
