<div class="container dashboard mt-4">
  <div class="row">
    <div class="col-3 d-flex column justify-content-between">
      <div>

        <%= image_tag "logo5.png", class: "logo" %>
        <h6 class="mt-4 username"><%= @user.email  %></h4>


<!------------------------------My hashtags card---------------------------->


<!-------My hashtags card---------------------------->
        <%= render "dashboards/my_hashtags" %>
      </div>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "button-secondary link-dashboard-secondary" %>
    </div>
<!--------DASHBOARD RIGHT Side---------------------------->
    <div class="col-9">
          <%= render "dashboards/search_hashtag" %>
<!--------Happiness score---------------------------->
            <% if @score %>
            <p>Happiness score is:</p>
            <h1><%= @score %></h1>
            <%= render "happiness_chart" %>
          <% end %>
<!--------Save bookmark---------------------------->
          <% if @hashtag.present? %>
            <%= link_to "Bookmark #{params[:hashtag]}", hashtags_path(hashtag: @hashtag, score: @score), method: :post  %>
          <% end %>
<!--------CHART -->
        <div id="chartdiv" data-score="<%= @score %>" ></div>

<!--------Last searched hashtags -->
        <p class = "mt-5">These are your last searched hashtags: </p>
    </div>
  </div>
</div>

<% if @tweets.present? %>
  <p><%= @tweets %></p>
<% end %>
