<!DOCTYPE html>
<html>
  <head>
    <title>About Your Crowd</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="app/assets/images/logo5.png" type="image/x-icon">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <!--PDF STUFF-->

    <%= wicked_pdf_stylesheet_link_tag "pdf" %>

    <%#= wicked_pdf_javascript_include_tag "number_pages" %>
  </head>

<!--wicked PDF STUFF onload='number_pages' AND id="header", id="content"-->
  <body onload='number_pages'>

    <%= render 'shared/flashes' %>
<!--wicked PDF STUFF d="header" -->
    <div id="header" >
      <%#= wicked_pdf_image_tag 'mysite.jpg' %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
      <!--CHART STUFF-->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

  </body>
</html>
